<nav class="pa3 pa4-ns helvetica">
    <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="#" title="Home">
        <img class="center tc logo" src="/image/SnapsCoffeeShopLogo.png" alt="logo" /></a>
</nav>

<main class="pa4 black-80">
    <form class="measure center helvetica {{action}}">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0">{{action}}</legend>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email-address">Username</label>
                <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text"
                    name="email-address" id="username-input" />
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy f6" for="password">Password</label>
                <input class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password"
                    name="password" id="password-input" />
            </div>
        </fieldset>
        <div class="">
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit"
                value={{action}} />
        </div>
        <div class="lh-copy mt3">
            {{#if newUser}}
            <p>Have an account already? Click here to <a href="/login" class="f6 link dim black db">login</a></p>
            {{else}}
            <p>Don't have an account yet? Click here to <a href="/" class="f6 link dim black db">sign Up</a></p>
            {{/if}}
        </div>
    </form>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/{{action}}.js"></script>